/*Home*/
/* navbar-top */
.home-nav{
  /* background-color: yellow; */
  margin-top: 1%;
  font-family: 'Aspekta Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0%;
  justify-content: center;
  align-items: center;

}
.navbar-top{

  background-color: rgba(0,0,0,0.5);
  /* background-color: red; */
  width: 90%;
  /* background-color:transparent; */
  color: #FFFFFF;
  margin: 0 auto ;
  padding: 8px 0 8px 0 ;
  margin-left: 90px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.navbar-top:hover{
  background-image: linear-gradient( rgba(255,255,255,1),rgb(44, 169, 194));
}
/* LEFT SIDE */
.navbar-menu-left{
  /* background-color: green; */
  flex-direction: row;
  margin: auto;
  width: 50%;
  text-align: left;
  
}
.nav-top-left{
  align-items: center;
  padding: 1%;
}
.nav-top-left li{
  display: inline-flex;
  padding-left: 1em;
}

/* RIGHT */
.navbar-menu-right{
  /* background-color: red; */
  flex-direction: row-reverse;
  margin: auto;
  width: 50%;
}

.nav-top-right{
  align-items: center;
  padding: 1%;
  text-align: right;
}

.nav-top-right li{
  display: inline-flex;
  padding-left: 1em;
}
