.intro{
    width: 100%;
    margin:0 auto;
    font-size: 21px;
    text-align: justify;
    font-family: 'Aspekta Variable';
    font-style: normal;
  
}
.intro h1{
    text-align: center;
    font-size: 45px;
}