@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  background: url('../public/assets/bg/background.png');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Aspekta Variable', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profileIndex{
  background-color: red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-between;
  position: relative;

}
.introHome{
  background-color: aqua;
  position: relative;
  flex-grow: 1;
  height: 80%;
}