@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  background: url('../public/assets/bg/background.png');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Aspekta Variable', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profileIndex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  float: left;
  width: 30%;
  margin-top: 4%;
  height: 68%;
  align-items: center;

}


.introIndex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: right;
  margin-top: 4%;
  width: 60%;
  margin-right: 5%;
  line-height: 180%;
  /* background-color: antiquewhite; */
  
}
